#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.modal-background{
  position: fixed;
  background-color: rgba(128, 128, 128, 0.5);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-head{
  background-color: aqua;
  border-radius: 1em 1em 0 0;
  padding: .5em 2em;
}

.modal-title{
  font-weight: bold;
  font-size: 140%;
}

.modal-body{
  background-color: blue;
  color: white;
  padding: 2em;
  border-radius: 1em;
  box-shadow: .5em .5em 2em darkblue;
}

.modal-foot{
  text-align: center;
  background-color: grey;
}