#root {
  max-width: 1280px;
  margin: 0 auto;
  padding:2rem;
  text-align: center;
  background: linear-gradient(145deg, #0a2497 0%, #032c47 100%);
  color: white;
  border-radius: 12px;
}

.modal-background{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-head{
  border-radius: 12px;
  padding: .5em 2em;
}

.modal-title{
  font-weight: bold;
  font-size: 140%;
}

.modal-body{
  padding: 2em;
  border-radius: 1em;
  box-shadow: .5em .5em 2em ;
  background-color: black;
  color: white;
}

.modal-foot{
  text-align: center;
}