:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: lightblue;
  color: white;
  
}

/* Estilos generales para toda la página */
body {
  font-family: 'Segoe UI', system-ui, sans-serif;
  padding: 2em;
  box-sizing: border-box;
  margin: 0;
}

head{
  
}

img{
  
}

header, nav, main, footer {
  margin-bottom: 2em;
}

header {
  text-align: center;
  padding-bottom: 1em;
}

nav {
  display: flex;
  width: 60%;
  justify-content: center;
  margin: 1em auto;
  padding: 0;
  background-color: #1e90ff;
  border-radius: 12px;
}

nav a {
  padding: 0.5em 1em;
  font-weight: 500;
  font-size: 1.2em;
  border-radius: 4px;
  color: white;
  text-decoration: underline 2px;
  transition:  color 0.3s ease;
}

nav a:hover {
  color: #120ed3;
}

main {
  max-width: 800px;
  margin: 0 auto;
  border-radius: 12px;
  box-shadow: 0 2px 8px black;
  padding: 2em;
}

footer {
  text-align: center;
  font-size: 1em;
  padding: 1em 0;
}

h1, h2, h3 {
  border-radius: 12px;
  padding: 0.5em;
  width: fit-content;
  margin: 1em auto;
}

input, textarea, select {
  display: block;
  margin: auto;
  width: 80%;
  margin-bottom: 1em;
  border-radius: 6px;
  padding: 0.8em;
  font-size: 1em;
}
input:focus, textarea:focus, select:focus {
  outline: none;
}

button {
  background: #093d98;
  color: white;
  border: none;
  box-shadow: 3px 3px 5px black;
  border-radius: 8px;
  padding: 0.8em 1.5em;
  font-size: 1em;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background: #0144fa;
}

label {
  display: block;
  margin-bottom: 0.5em;
  font-weight: 600;
  font-size: 1.1em;
}