.snackbar-container{
    position: fixed;
    bottom: 0;
    color: black;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.snackbar-item{
    position: relative;
    background-color: blue;
    border: 2em;
    border-radius: .5em;
    box-shadow: .2em .2em .2em black;
    width: 15em;
    margin: .5em 1em;
    padding: .5em;
    font-weight: bold;
    font-size: 110%;
}

.error{
    background-color: red;
}

.info{
    background-color: lightblue;
}

.success{
    background-color: green;
}

.snackbar-item.hide{
    animation: hide 0.4s ease-out forwards;
}

@keyframes hide {
    from{
        opacity: 1;
        left: 1;
        height: 2em;
        margin: .5em 1em;
    }
    to {
        opacity: 0;
        left: -20em;
        height: 0;
        margin: -1em;
    }
}